@import "tailwindcss";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

@theme {
  --font-courier: "Courier New", monospace;

  --color-brand-1: #f8f8f2;
  --color-brand-2: #1d1f21;
  --color-brand-3: #2d2d2d;
  --color-brand-4: #c5c8c6;
  --color-brand-5: #75715e;
  --color-brand-6: #e0e0e0;
  --color-brand-7: #3d3d3d;
  --color-brand-8: #0000ee;
  --color-brand-9: #9999f5;
}

@layer components {
  .content-area {
    position: relative;
    padding-left: --spacing(8);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: var(--color-brand-5);
    }
  }
}

@layer utilities {
  .prose-mono-note {
    --tw-prose-headings: var(--color-brand-3);
    --tw-prose-bold: var(--color-brand-3);
    color: var(--color-brand-3);

    @variant dark {
      --tw-prose-headings: var(--color-brand-4);
      --tw-prose-bold: var(--color-brand-4);
      color: var(--color-brand-4);
    }
  }
}
.container {
  max-width: 760px;
  margin-inline: auto;
  padding-block: --spacing(8);
  padding-inline: --spacing(4);
  position: relative;
}

@media (min-width: var(--breakpoint-md)) {
  .container {
    padding: --spacing(4);
  }
  .content-area {
    padding-left: --spacing(4);
  }
}
