---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "~/layouts/Layout.astro";

const posts = (await getCollection("posts", ({ data }) => !data.draft)).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

const postsByYear = new Map<number, CollectionEntry<"posts">[]>();

const years = Array.from(
  new Set(posts.map((post) => post.data.date.getFullYear()))
).sort((a, b) => b - a);

years.forEach((year) => {
  postsByYear.set(year, []);
});

posts.forEach((post) => {
  const year = post.data.date.getFullYear();

  const yearPosts = postsByYear.get(year) || [];

  yearPosts.push(post);
  postsByYear.set(year, yearPosts);
});
---

<Layout title="Archive">
  <main class="container">
    <section class="content-area">
      <h1 class="mb-4 text-3xl font-bold">Archive</h1>

      <div class="space-y-4">
        {
          years.map((year) => (
            <div>
              <h2 class="mb-4 text-2xl font-bold">{year}</h2>
              <ol class="pl-4">
                {postsByYear.get(year)?.map((post) => (
                  <li>
                    •{" "}
                    {post.data.date.toLocaleDateString("en-US", {
                      month: "long",
                      day: "numeric",
                    })}{" "}
                    —{" "}
                    <a
                      href={`/posts/${post.id}/`}
                      class="text-brand-8 dark:text-brand-9 underline"
                    >
                      {post.data.title}
                    </a>
                  </li>
                ))}
              </ol>
            </div>
          ))
        }
      </div>

      <div class="mt-4">
        <a href="/" class="border-brand-5 mt-4 inline-block border-b"
          >← Back to home</a
        >
      </div>
    </section>
  </main>
</Layout>
