---
import { getCollection } from "astro:content";
import PostCard from "~/components/PostCard.astro";
import Layout from "~/layouts/Layout.astro";

const posts = (await getCollection("posts", ({ data }) => !data.draft)).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<Layout>
  <main class="container">
    <section class="content-area">
      {posts.map((post) => <PostCard {...post} />)}
    </section>
  </main>
</Layout>
