---
import { site } from "~/constants/config";
---

<footer
  class="text-brand-5 border-brand-6 dark:border-brand-7 container mt-12 border-t pt-4"
>
  <p>
    © {new Date().getFullYear()}
    {site.title} — {site.footerTagLine}
  </p>
</footer>
